books/algebraic_topology/A_Concise_Course_in_Algebraic_Topology_JP_May_UChicago.pdf filter=lfs diff=lfs merge=lfs -text
books/algebraic_topology/Algebraic_Topology_Allen_Hatcher_2001.pdf filter=lfs diff=lfs merge=lfs -text
books/algebraic_topology/Algebraic_Topology_Tammo_tom_Dieck_2000.pdf filter=lfs diff=lfs merge=lfs -text
books/algebraic_topology/An_Introduction_to_Algebraic_Topology_Rotman_1991.pdf filter=lfs diff=lfs merge=lfs -text
articles/topological_neural_networks/Copresheaf_Topological_Neural_Networks-A_Generalized_Deep_Learning_Framework_Hajij_2025.pdf filter=lfs diff=lfs merge=lfs -text
books/smooth_manifolds/lee_smooth_manifolds.pdf filter=lfs diff=lfs merge=lfs -text
books/differential_geometry/Differential_Geometry_and_Lie_Groups_Computational_Perspective_Gallier_2025.pdf filter=lfs diff=lfs merge=lfs -text
books/symmetry_groups/Symmetry_Representations_Invariants_Goodman_2000.pdf filter=lfs diff=lfs merge=lfs -text
books/lie_groups/An_Introduction_to_Lie_Groups_and_Symplectic_Geometry_Bryant_lec_notes_2018.pdf filter=lfs diff=lfs merge=lfs -text
books/lie_groups/Intro_to_Lie_Groups_Taylor_2010.pdf filter=lfs diff=lfs merge=lfs -text
books/lie_groups/Lie_Groups_Beyond_Introduction_Knapp_2Ed_2023.pdf filter=lfs diff=lfs merge=lfs -text
books/lie_groups/Lie_Groups_and_Lie_Algebras_Ettinghof_mit18_755_s24_lec_full.pdf filter=lfs diff=lfs merge=lfs -text
books/lie_groups/Lie_groups_and_algebraic_groups_Onishchik-Vinberg_1980.pdf filter=lfs diff=lfs merge=lfs -text
articles/Geometric_Deep_Learning-Grids_Groups_Graphs_Geodesics_and_Gauges_Bronstein_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles/Mathematical_Foundations_of_Geometric_Deep_Learning_Saez_de_Ocariz_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/Topological_Methods_in_Machine_Learning-A_Tutorial_for_Practitioners_Coskunuzer_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/converging_representations/Harnessing_the_Universal_Geometry_of_Embeddings_Jha_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/converging_representations/The_Platonic_Representation_Hypothesis_Huh_MIT_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/converging_representations/Universally_Converging_Representations_of_Matter_Across_Scientific_Foundation_Models_Edamadaka_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/low_dimensional_linear_embeddings/Automated_Global_Analysis_of_Experimental_Dynamics_through_Low-Dimensional_Linear_Embeddings_Moore_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/CoT_topology/Understanding_Chain-of-Thought_in_Large_Language_Models_via_Topological_Data_Analysis_Li_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/deep_sequences/Deep_sequence_models_tend_to_memorize_geometrically_it_is_unclear_why_Noroozizadeh_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/HC/mHC-Manifold-Constrained_Hyper-Connections_DeepSeekAI_2026.pdf filter=lfs diff=lfs merge=lfs -text
articles/Muon/Muon_is_Scalable_for_LLM_Training_Liu_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/SETOL/SETOL-A_Semi-Empirical_Theory_of_Deep_Learning_Martin_2025.pdf filter=lfs diff=lfs merge=lfs -text
